<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Shuffling Pines</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>

    <script src="js/app.js"></script>
  </head>

  <body ng-app="shuffling">
    <h1>Shuffling Pines</h1>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a></li>
          <li role="presentation"><a href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Tab pane 1 -->
          <div role="tabpanel" class="tab-pane active" id="form"  ng-controller="FormController as vm">
            <div >
              <form class="col-md-6 well">
                <div class="form-group">
                  <label for="guest-name">Guest Name</label>
                  <input type="text" class="form-control" id="guest-name" placeholder="" ng-model="name">
                </div>
                <div class="form-group">
                  <label for="transitionDate">Transition Date</label>
                  <input type="date" format="yyyy-mm-dd" class="form-control" id="transitionDate" placeholder="yyyy-mm-dd" ng-model="transDate">
                </div>
                <br>
                <div>
                  <label for="guestStatus">Select an option</label>
                  <br>
                  <select name="guestStatus" id="guestStatus"  ng-model="status">
                    <option value="Pick-Up">Pick-Up</option>
                    <option value="Drop-Off">Drop-Off</option>
                  </select>
                </div>
                <br>
                <div class="form-group">
                  <label for="location">Location</label>
                  <textarea class="form-control" id="location" ng-model="location"></textarea>
                </div>
                <button name="submitForm" type="submit" class="btn" ng-click="vm.onSubmit(name,transDate,status,location)">Submit</button>
              </form>
            </div>
            <clock></clock>
            <div ng-repeat="n in vm.localGuests track by $index" ng-if="!n.delete">
            <!-- bound display -->
              <div>
                <div ng-show="true" class="col-md-7 well">
                  <div ng-show="true" class="form-group">
                    <label>Name: </label>
                    {{n.name}}
                  </div>
                  <div ng-show="true" class="form-group">
                    <label>Transition Date: </label>
                    {{n.transitionDate}}
                  </div>
                  <div ng-show="true" class="form-group">
                    <label>Status: </label>
                    {{n.status}}
                  </div>
                  <div ng-show="true" class="form-group">
                    <label>Location: </label>
                    {{n.location}}
                  </div>
                  <button name="deleteItem" type="submit" class="btn" ng-click="vm.onDelete($index)">Delete</button>
                </div>
              </div>
            </div>

          </div>

          <!-- Tab pane 2 -->
          <div role="tabpanel" class="tab-pane" id="guests" ng-controller="GuestsController as vm">
            <ul class="list-unstyled">
              <li>
                <div ng-repeat="n in vm.localGuests track by $index" ng-if="!n.delete">
                  <!-- bound display -->
                  <div>
                    <div ng-show="true" class="col-md-7 well">
                      <div ng-show="true" class="form-group">
                        <label>Name: </label>
                        {{n.name}}
                      </div>
                      <div ng-show="true" class="form-group">
                        <label>Transition Date: </label>
                        {{n.transitionDate}}
                      </div>
                      <div ng-show="true" class="form-group">
                        <label>Status: </label>
                        {{n.status}}
                      </div>
                      <div ng-show="true" class="form-group">
                        <label>Location: </label>
                        {{n.location}}
                      </div>
                      <button name="deleteItem" type="submit" class="btn" ng-click="vm.onDelete($index)">Delete</button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
